<md-content layout="row" layout-wrap>
    <md-card flex-gt-md="40" >
        <iframe height="300px;" src="https://www.youtube.com/embed/u37F1fBwvEU" frameborder="0" allowfullscreen></iframe>
        <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">A importância do orçamento</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                Você sabe o que o orçamento público tem a ver com o funcionamento de uma cidade?
                Ele define as prioridades na aplicação dos recursos que o governo arrecada para garantir o bem estar da sociedade.
            </p>
        </md-card-content>
    </md-card>

    <md-card flex-gt-md="40" >
        <iframe height="300px;" src="https://www.youtube.com/embed/u37F1fBwvEU" frameborder="0" allowfullscreen></iframe>
        <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Plano Plurianual</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                Para oferecer bens e serviços, realizar obras e manter programas sociais,
                o governo precisa planejar com antecedência o que deve ser feito. Organiza os pedidos da sociedade e submete aos parlamentares.
            </p>
        </md-card-content>
    </md-card>

    <md-card flex-gt-md="40" >
        <iframe height="300px;" src="https://www.youtube.com/embed/u37F1fBwvEU" frameborder="0" allowfullscreen></iframe>
        <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Lei de Diretrizes Orçamentarias</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                As mudanças que ocorrem ano a ano exigem que o planejamento seja ajustado. Os governantes propõem as regras,
                que são aprovadas pelos parlamentares. É a única lei que impede o recesso do Congresso.
            </p>
        </md-card-content>
    </md-card>
</md-content>

<md-content>
    <h1>Créditos</h1>
    <p>Todos os videos e textos contidos nesta tela são de autoria do Senado Federal</p>
    <p><a href="http://www12.senado.leg.br/orcamentofacil">Fonte</a></p>

</md-content>

<!--<div>-->
    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/2dUJgb7Op1g" frameborder="0" allowfullscreen></iframe>-->
<!--</div>-->