<div>
	<span class="text-gastronometro-top">
		Gastronometro
	</span>

	<span class="text-gastronometro">
		R$ 2131232328193021312
	</span>

	<span class="text-gastronometro-bottom">
		Ultima vez atualizado 11/06/2017
	</span>
	<!-- <div class="mini-count">
		<span class="mini-valor">R</span>
	</div> -->

	<!-- <div class="mini-count">
		<span class="mini-valor">$</span>
	</div>

	<div class="mini-divisor">
		<span class="mini-tag">:</span>
	</div>

	<div class="mini-count">
		<span class="mini-valor">1</span>
	</div>

	<div class="mini-count">
		<span class="mini-valor">2</span>
	</div>

	<div class="mini-count">
		<span class="mini-valor">1</span>
	</div>

	<div class="mini-divisor">
		<span class="mini-tag">:</span>
	</div>

	<div class="mini-count">
		<span class="mini-valor">2</span>
	</div>

	<div class="mini-count">
		<span class="mini-valor">4</span>
	</div>

	<div class="mini-count">
		<span class="mini-valor">2</span>
	</div>

	<div class="mini-divisor">
		<span class="mini-tag">:</span>
	</div>

	<div class="mini-count">
		<span class="mini-valor">2</span>
	</div>

	<div class="mini-count">
		<span class="mini-valor">4</span>
	</div>

	<div class="mini-count">
		<span class="mini-valor">2</span>
	</div> -->
	<!-- <span class="tag">Trilhão</span> -->
</div>