<div id="wrap" layout="row" layout-wrap>

    <md-card flex-gt-md="40" ng-repeat="gasto in ctrl.gastometros" ng-click="showTabDialog($event,gasto.idArea)">
        <md-card-title>

            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <img seticons type="{{gasto.area}}" area="true" ng-src="images/icons/ic_av_timer_black_24px.svg">
                </div>
            </md-card-title-media>

            <md-card-title-text>
                <span class="md-subhead" style="color:black;">{{gasto.area}}</span>
                <gastometro></gastometro>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
