<md-toolbar id="header">
    <div class="md-toolbar-tools toolbar-bar-collor" layout="row">

        <img ng-src="../images/logo_header.png" style="max-height: 50%;min-height: 40%;">
        <h1 style="display: table; color: white;">Minha Cidade</h1>

        <div layout="row" layout-align="end" style="width: 100%;">
            <a href="http://www.facebook.com.br">
                <md-icon md-svg-src='images/icons/facebook-app-symbol.svg' style="font-size: 48px; height: 60px;"></md-icon>
            </a>
            <a href="http://www.instagram.com">
                <md-icon md-svg-src='images/icons/if_Instagram_Solid_1435170.svg' style="font-size: 48px; height: 48px; width: 48px;"></md-icon>
            </a>
        </div>
    </div>
</md-toolbar>