<md-sidenav
        class="md-sidenav-left sidenav back"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')"
        md-disable-backdrop
        md-whiteframe="4"
        style="height: 100%"
>

    <md-toolbar class="side-bar-size sidenavtoolbar">

        <div ng-controller="leftCtrl" >
            <md-button  class="md-fab md-mini buttonClose" style="background: #13AB75;"  ng-click="close()" hide-gt-sm aria-label="buttao expandir">
                <md-icon class="iconClose" md-svg-src="images/icons/ic_close_black_24px.svg"></md-icon>
            </md-button>
        </div>

        <div layout="column" flex="100" >

            <div layout="column" layout-align="center" class="nome-cidade" >
                <h1>{{city}}</h1>
                <span>{{state}} - Brasil</span>
            </div>

        </div>
    </md-toolbar>

    <md-content layout-padding layout="column" style="height: 100%;">

        <md-list-item ui-sref="home" class="margin_menu md-1-line menuAling"  ng-click="null">
            <img ng-src="images/icons/home_grey_48x48.png" class="md-avatar" style="width: 20px; height: 20px;"/>
            <div class="md-list-item-text menu-footer" layout="column">
                <span>Home</span>
            </div>
        </md-list-item>

        <md-list-item ui-sref="orcamento" class="margin_menu md-1-line menuAling">
            <img ng-src="images/icons/attach_money_grey_48x48.png" class="md-avatar" style="width: 20px; height: 20px;" />
            <div class="md-list-item-text menu-footer" layout="column">
                <span>Orçamento</span>
            </div>
        </md-list-item>

        <md-list-item ui-sref="areas" class="margin_menu md-1-line menuAling">
            <img ng-src="images/icons/av_timer_grey_48x48.png" class="md-avatar" style="width: 20px; height: 20px;"/>
            <div class="md-list-item-text menu-footer" layout="column">
                <span>Gastômetros</span>
            </div>
        </md-list-item>

        <md-divider class="divsize" style="border-top-color: rgba(0,0,0,0.12);" ></md-divider>

        <md-list-item  ui-sref="vocesabia" class="margin_menu md-1-line menuAling">
            <img ng-src="images/icons/wb_incandescent_grey_48x48.png" class="md-avatar" style="width: 20px; height: 20px;"/>
            <div class="md-list-item-text menu-footer" layout="column">
                <span>Você sabia?</span>
            </div>
        </md-list-item>

        <md-divider class="divsize" style="border-top-color: rgba(0,0,0,0.12);" ></md-divider>

        <md-list-item ui-sref="educacional" class="margin_menu md-1-line menuAling">
            <img ng-src="images/icons/power.png" class="md-avatar" style="width: 20px; height: 20px;"/>
            <div class="md-list-item-text menu-footer" layout="column">
                <span>Educacional</span>
            </div>
        </md-list-item>

    </md-content>

</md-sidenav>
