<md-content>
    <div layout="row" layout-align="center">
        <h1>Reclame Aqui</h1>
    </div>
    <div layout="row">
        <a href="https://portal.tce.pb.gov.br/ouvidoria/">Portal TCE-PB</a>
    </div>

    <div layout="row">
        <p>No site do Tribunal de Contas do Estado da Paraíba é possível obter informações sobre a Ouvidoria.
            Ela existe para te ouvir e contribuir para o exercício da sua cidadania. Acesse um dos canais:</p>
    </div>


    <div layout="column">
        <h2 style="margin: 0;">Disque Ouvidoria:</h2>
        <p>0800.2863300</p>
        <p>O cidadão pode fazer sua demanda por telefone falando com um de nossos atendentes.</p>
    </div>

    <div layout="column">
        <h2 style="margin: 0;">Telefones:</h2>
        <p>(83)3208.3501 | (83)3208.3500 | (83)3208.3474</p>
    </div>

    <div layout="column">
        <h2 style="margin: 0;">E-mail:</h2>
        <p>O cidadão envia a demanda pelo e-mail ouvidoria@tce.pb.gov.br.</p>
    </div>

    <div layout="column">
        <h2 style="margin: 0;">Fax:</h2>
        <p>0800.2863300</p>
    </div>



</md-content>