<div id="wrap" layout="row">
    <div class="wrap-cards-vc-sabia">
        <md-card class="card-vocesavia" ng-click="showTabDialog($event,gasto.idArea)">
            <md-card-header layout-xs="column" class="card-header" style="max-height: 50px;">
                <div class="icon-card">
                    <img ng-src="images/icons/ic_local_see_black_24px.svg" class="md-avatar" style="width: 65px;"/>
                </div>
                <md-card-header-text layout="column">
                    <span class="md-subhead">Total gasto nos últimos 4 anos</span>
                    <span class="md-title">R$ 25.000.000,00</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title class="card-azul">
                <span class="md-subhead">Publicidade</span>
            </md-card-title>
            <md-divider class="divsize" style="border-top-color: rgba(0,0,0,0.12);" ></md-divider>
            <md-card-title class="card-footer-vc-sabia">
                <span class="md-subhead">Com esse valor daria para comprar cerca de 1 milhão e 500mil livros didáticos de valores aproximadamente 30 reais</span>
            </md-card-title>
        </md-card>
    </div>

</div>