<div id="wrap" layout="row">
    <div class="wrap-cards">
        <md-card class="card-geral">
            <md-card-header layout-xs="column" class="card-header" style="height: 100px;">
                <div class="icon-card">
                    <img ng-src="images/icons/ic_loop_white_24px.svg" class="md-avatar"/>
                </div>
                <md-card-header-text layout="column">
                    <span class="md-subhead">Total gasto nos últimos 4 anos</span>
                    <span class="md-title">R$ 25.000.000,00</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <span class="md-subhead">Acompanhe os gastos nos ultimos anos de sua cidade relacionada a saude</span>
            </md-card-title>
        </md-card>
    </div>

</div>